#b325, .asteroid_b326 {
    font-weight: bold;
    width: 250px;
    border: 1px solid #008000;
}

.asteroid_b329_big, .asteroid_big {
    color: blue;
}

.asteroid_big{
    width: 250px;
    background-color: yellow;
}

.asteroid_b329_big{
    font-weight: bold; 
}